{% extends 'base.html.twig' %}

{% block title %} Conference Guestbook {% endblock %}

{% block body %}

    <div class="container">

        <h2>Give your feedback</h2>

        {% for conference in conferences %}
            <h5>{{ conference }}</h5>
            <p>
                <a href="{{ path('conference', { id: conference.id }) }}">View</a>
            </p>
        {% endfor %}
    </div>

{% endblock %}
